@import '../tatami.scss';

.dialog {

  max-height: 90vh;
  box-shadow: $shadow1;

  .header {
    overflow: hidden;
  }

  .message {
    max-height: 70vh;
    flex: 1;
    overflow-y: auto;
  }

  .buttons {
    margin-bottom: 1rem;
    max-height:5rem;
    display: flex;
    justify-content: flex-end;
  }

}
