@import './app.scss';

.inboxItem {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  padding-right: 1rem;
  .infoline:last-child .content {
    padding-bottom: 1rem;
    border-bottom: solid 1px $divider-color;
  }
  &:hover {
    background-color: $primary-color-light-trans;
  }
}


.inboxItemWrapper {
  display: flex;
  >.itemState {
    width: .4rem;
    &.selected {
      background-color: $accent-color;
    }
  }
  &:hover {
    background-color: $primary-color-light-trans;
  }
}

.inbox {
  position: relative;
  flex: 1;
  display: flex;
  overflow: hidden;

  >.inboxlist {
    border-right: solid 1px $divider-color;
    overflow-y: auto;
  }

  >.inboxviewer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }

  @media screen and (max-width: $break-medium) {

    >.inboxlist {
      flex: 1;
    }

    >.inboxviewer {
      position: absolute;
      top: 5%;
      width: 100%;
      height: 90%;
      left: 0;
      z-index: 0;
      visibility: hidden;
      background-color: $primary-color-light;
      transition: all .3s ease-in-out;
      box-shadow: $shadow1;
      &.show {
        background-color: $background;
        left: 0;
        //border: solid 1px red;
        visibility: visible;
        width: 100%;
        height: 100%;
        z-index: 999;
        top: 0;
      }

      >.header { display: none; }
    }
  }

  @media screen and (min-width: $break-medium) {

    .list {
      flex: 4;
    }

    .viewer {
      position: relative;
      flex: 6;
    }
  }
}
