progress {
  /* Reset the default appearance */
  -webkit-appearance: none;
  appearance: none;
  margin: .5rem 0;
}

progress[value]::-webkit-progress-bar {
  background-color: #EEE;
  height: .4rem;
}

progress[value]::-webkit-progress-value {
  background-color: #999;
}

$danger-color-light:          #ff7470;
$danger-color-light-trans:    rgba( $danger-color-light,  .28);

@-webkit-keyframes rotating {
    from{
        -webkit-transform: rotate(0deg);
    }
    to{
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes derotating {
    from{
        -webkit-transform: rotate(360deg);
    }
    to{
        -webkit-transform: rotate(0deg);
    }
}

.rotating {
    -webkit-animation: rotating 2s linear infinite;
}

.derotating {
    -webkit-animation: derotating 2s linear infinite;
}

.loader {

  margin: 0;

  .line1 {
    font-size: 1.3rem !important;
  }
  .line2 {
    margin-top: .5rem;
  }
  .line3 {
  }

  &.uploading {

    .avatar {
      position: relative;
      color: green;
      background-color: white;
      border-radius: 50px;
      background-image: linear-gradient(to bottom, white 20%, green 100%);
      //padding: 2rem;
      -webkit-animation: rotating 2s linear infinite;
    }

    .icon {
      background-color: white;
      width: 3.8rem;
      height: 3.8rem;
      -webkit-animation: derotating 2s linear infinite;
    }

    progress[value]::-webkit-progress-value {
      background-color: green;
    }
  }

  &.done {
    .avatar {
      background-color: green;
    }
  }

  &.error {
    .avatar {
      background-color: red;
    }
  }
}
