@import '../tatami.scss';

.page {
  display: flex;
  flex-direction: column;
  flex: 1;

  @media (max-width: $break-medium) {
    &.leaf {
      position: fixed;
      top: 0;
      left: 0;
      z-index: 100;
      width: 100vw;
      height: 100vh;
    }
  }
  &.viewer {
    color: #FFF;
    background-size:cover;
  }

  .pageBar {
    @media (max-width: $break-medium) {
      box-shadow: $shadow1;
    }
  }

  &.scrollable {
    overflow: auto;
  }
}

#stickyHeader {
  border-bottom: solid 1px rgba(100,100,100,.5);
  box-shadow: $shadow2;
}

.sticky {
    position: -moz-sticky;
    position: -webkit-sticky;
    position: sticky;
    top: -1px;
    z-index: 1;
}
