@import './app.scss';

@keyframes showPage {
  0% {
    margin-top: 30vh;
    opacity: 0;
  }
  100% {
    margin-top: 5vh;
    opacity: 1;
  }
}

.screen {

  * {
    //border: dashed 1px red;
  }

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  >main {

    flex: 1;
    display: flex;
    overflow: hidden;

    >aside {
      overflow: hidden;
      z-index: 1000;
      background-color: transparent;

      >.drawer {
        width: $drawer-width;
        height: 100%;
        border-right: solid 1px $divider-color;

        @media screen and (max-width: $break-medium) {
          position: absolute;
          left: -$drawer-width;
          transition: all 0.5s ease-in-out;
        }
        @media screen and (min-width: $break-medium) {
          position: relative;
        }
      }

      @media screen and (max-width: $break-medium) {
        position: absolute;
        top: 0px;
        width: 0px;
        height: 100vh;
        transition:
          background 0.5s ease-in-out,
          width 0s 0.5s;
        &.active {
          transition: background 0.5s ease-in-out;
          width: 100vw;
          background-color: $overlay;
          .drawer {
            left: 1px;
          }
        }
      }

      @media screen and (min-width: $break-medium) {
        transition: all 0.5s ease-in-out;
        position: relative;
        left: -$drawer-width;
        width: 0px;
        opacity: 0;
        &.active {
          opacity: 1;
          left: 0;
          width: $drawer-width;
        }
      }
    }

    >.page {
      flex: 1;
      min-width: 320px;
      max-width: none;
      @media screen and (min-width: $break-big) {
        animation: showPage 1s 1;
        animation-timing-function: ease-out;
        max-width: $page-max-width;
        margin: 0 auto;
        margin-top: 5vh;
        box-shadow: $shadow1;
        background-color: $paper;
      }
    }

  }

  >footer {
    display: flex;
  }

  >.overlay {
    animation: fadeOut .6s 1;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: $overlay;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
