@import './app.scss';

.screen {

  * {
    border: dashed 0px red;
  }

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  >main {

    flex: 1;
    display: flex;

    >aside {

      overflow: hidden;
      z-index: 1000;
      background-color: transparent;

      .drawer {
        width: $drawer-width;
        height: 100%;
        border-right: solid 1px $divider-color;
      }

      @media screen and (max-width: $break-medium) {
        position: absolute;
        top: 0px;
        width: 0px;
        height: 100vh;

        .drawer {
          position: absolute;
          left: -$drawer-width;
          transition: all 0.5s ease-in-out;
        }

        &.active {transition: background 0.5s ease-in-out;
          width: 100vw;
          background-color: $overlay;
          .drawer {
            left: 1px;
          }
        }
      }

      @media screen and (min-width: $break-medium) {
        position: relative;
        width: $drawer-width;
        .drawer {
          position: relative;
        }
      }
    }

    >.page {
      flex: 1;
      min-width: 325px;
      max-width: none;
      display: flex;

      @media screen and (min-width: $break-big) {
        max-width: 800px;
        margin: 0 auto;
        margin-top: 5vh;
        box-shadow: $shadow1;
      }

    }
  }

  >footer {
    display: flex;
  }

  >.overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: $primary-color-dark-trans;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
