@import '../tatami.scss';

.screen {

  * {
    //border: dotted 1px red;
    //margin: 5px;
  }

  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  .contentArea {

    flex: 1;
    display: flex;
    overflow: hidden;

    >aside {
      overflow: hidden;
      z-index: 1000;
      background-color: transparent;

      >.drawer_toolbar {
        transition: all 0.5s ease-in-out;
        width: $drawer-width;
        height: 4rem;
        position: absolute;
        bottom: 0;
        left:0;
        border-top: solid 1px #DDD;
        background-color: #EEE;
        display: flex;
        justify-content: flex-end;
        padding-right: 1rem;
        &.minimized {
          width: 6rem;
          border-right: solid 1px #DDD;
        }
      }

      >.drawer {
        transition: all 0.5s ease-in-out;
        &.minimized {
          width: 6rem;
          border-right: solid 1px #DDD;
          ul.menu::before {
            display: none;
          }
        }
        width: $drawer-width;
        height: 100%;
        margin-bottom: 4rem;
        overflow-y: auto;
        //border-right: solid 1px $divider-color;

        @media screen and (max-width: $break-medium) {
          position: absolute;
          left: -$drawer-width;
        }
        @media screen and (min-width: $break-medium) {
          position: relative;
        }
      }

      >.drawer2 {
        width: $drawer-width;
        height: 100%;
        //border-right: solid 1px $divider-color;

        @media screen and (max-width: $break-medium) {
          position: absolute;
          right: -$drawer-width;
          transition: all 0.5s ease-in-out;
        }
        @media screen and (min-width: $break-medium) {
          position: relative;
        }
      }

      @media screen and (max-width: $break-medium) {
        position: absolute;
        top: 0px;
        width: 0px;
        height: 100vh;
        transition:
          background 0.5s ease-in-out,
          width 0s 0.5s;
        &.active {
          transition: background 0.5s ease-in-out;
          width: 100vw;
          background-color: $overlay;
          .drawer {
            left: 1px;
          }
        }
      }

      @media screen and (min-width: $break-medium) {
        transition: all 0.5s ease-in-out;
        position: relative;
        left: -$drawer-width;
        width: 0px;
        opacity: 0;
        &.active {
          opacity: 1;
          left: 0;
          width: $drawer-width;
        }
      }
    }

    >.page {
      flex: 1;
      min-width: 320px;
      max-width: none;
      @media screen and (min-width: $break-big) {
        animation: showPage 1s 1;
        animation-timing-function: ease-out;
        max-width: $page-max-width;
        margin: 0 auto;
        margin-top: 0vh;
        //box-shadow: $shadow1;
        //background-color: $paper;
      }

      &.site {
        margin-top: 0;
      }
    }

  }

  >footer {
    display: flex;
  }

  >.overlay {
    animation: fadeOut .6s 1;
    animation-timing-function: ease-in-out;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    background-color: $overlay;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
