@import './app.scss';

.toolbar {
  top: 0;
  // transition: all 0.3s ease-in-out;
  &.hidden {
    min-height: 0;
    top: -40px;
  }
}

.appBar {
  position: relative;
  //color: $primary-color-text;
  //background-color: $primary-color-dark;
  min-height: 5.6rem;
  padding-right: .4rem; 
}

.ctxMenu {
  position: absolute;
  box-shadow: $shadow1;
  background-color: $background;
  color: $primary-text-color;
  top: 5.5rem;
  right: .5rem;
  min-width: 20rem;
  min-height: 1rem;
  z-index: 999;
}
