@import './theme.scss';

html {
  font-size:62.5%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background;
  //background-image: url('/background6.svg');
  background-size: cover;
  color: $primary-text-color;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  text-rendering: auto;
  overflow-y: hidden;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.animated {
  -webkit-transition-timming-function: ease-in-out;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

h1 {
  margin: .7rem 0 1rem 0;
}

h2 {
  margin: .7rem 0 1rem 0;
}

h3 {
  margin: .7rem 0 1rem 0;
}

button {
  border: none;
}

*:focus {
    outline: none;
}

.horizontal {
  display: flex;
  flex-direction: row;
  .right {
    align-self: flex-end;
  }
}

.float {
  box-shadow: $shadow1;
}
