.animated {
  -webkit-transition-timming-function: ease-in-out;
  -webkit-transition: all 0.5s;
     -moz-transition: all 0.5s;
       -o-transition: all 0.5s ease-in-out;
          transition: all 0.5s ease-in-out;
}

h1 {
  margin: .7rem 0 1rem 0;
}

h2 {
  margin: .7rem 0 1rem 0;
}

h3 {
  margin: .7rem 0 1rem 0;
}

button {
  border: none;
}

*:focus {
    outline: none;
}

.horizontal {
  display: flex;
  flex-direction: row;
  .right {
    align-self: flex-end;
  }
}
