.button {
  position: relative;
  outline: 0;
  padding: 0 2.5rem;
  margin: .6rem .1rem;
  font-size: 1.4rem;
  font-weight: 500;
  cursor: pointer;
  height: 3.6rem;
  text-transform: uppercase;
  border-radius: 2px;
  transition: all 0.5s ease;
}

.fab {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  border-radius: 10rem;
  min-width: 5.5rem;
  min-height: 5.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 998;
  cursor: pointer;
  &:hover {
    min-width: 5.6rem;
    min-height: 5.6rem;
  }
}
.fam {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  .fab {
    position: relative;
    bottom: 0;
    right: 0;
  }
  .fam-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 7rem;
    right: 1rem;
    .option {
      width: 15rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      label{ flex: 1}
      .icon2 {
        color: rgba(50,50,50,.8);
        background-color: rgba(200,200,200,.2);
        margin-top: .6rem;
        &:hover {
          color: #FFF;
          background-color: #6cCF70;
        }
      }
    }
  }
}

.link {
  padding: 0 1rem;
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
