@import './app.scss';

.card {
  position: relative;
  min-width: 20rem;
  background-color: $paper;
  border: 0;
  border-radius: .2rem;
  box-shadow: $shadow1;
  margin: 1rem;

  &:hover {
    box-shadow: $shadow2;
  }

  &.hcard {
    display: flex;
    >.image {
      width: 15rem;
      height: 20rem;
      overflow: auto;
      background-color: rgba(10,10,10, .8);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    >.content {
      flex: 1;
    }
  }
}
