.card {
  position: relative;
  min-width: 20rem;
  border: 0;
  border-radius: .2rem;
  padding: 1rem;

  &.hcard {
    display: flex;
    align-items: flex-start;

    >.image {
      width: 7.5rem;
      height: 7.5rem;
      overflow: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      border: solid 1px #CCC;
      background-color: #CCC;
      margin-right: 1rem;

      >img {
        position:relative;
        display: block;
        border: 0px solid black;
        max-width: 7.5rem;
        max-height: 7.5rem;
      }
    }
    >.content {
      flex: 1;
    }
  }
}
