@import './app.scss';

.card {
  min-width: 20rem;
  min-height: 20rem;
  background-color: $background;
  border: 0;
  border-radius: .2rem;
  box-shadow: $shadow1;
  margin: 1rem;

  &:hover {
    box-shadow: $shadow2;
  }
}
