.row {
  position: relative;
  flex: 1;
  display: flex;
  align-items: center;
  overflow: auto;
  &.right {
    justify-content: flex-end;
  }
  >* {
    flex: 0;
    &.expanded {
      flex: 1;
    }
  }
}

.column {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  >* {
    width: 100%;
    &.expanded {
      flex: 1;
    }
  }
}

.grid {
  display: grid;
  // LAYOUT CSS STYLE IN JS
}
