.dialog {

  .message {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .buttons {
    max-height:5rem;
    display: flex;
    justify-content: flex-end;
  }
}
