@import './app.scss';

.field {
  position: relative;
  display: flex;
  flex: 1;
  padding-top: 1.2rem;
  margin-right: 1.2rem;
  margin-bottom: 2rem;

  label {
      transition: all 0.5s ease;
      position: absolute;
      top: 2.2rem;
      display: block;
      color: $divider-color;
      min-width: 8rem;
      font-size: 1.4rem;
    }

  input, select {
      width: 100%;
      box-sizing: border-box;
      border: 0;
      background-color: transparent;
      font-size: 1.6rem;
      font-family: inherit;
      line-height: inherit;
      border-bottom: solid 1px $divider-color;

      &:focus {
        border-bottom: solid 1px $accent-color;
      }

      &:focus ~ label {
        font-size: 1.2rem;
        font-weight: 400;
        top: .1rem;
        color: $secondary-text-color;
      }

      &.notEmpty ~ label {
        font-size: 1.2rem;
        font-weight: 400;
        top: .1rem;
        color: $secondary-text-color;
      }
    }



  >.icon-box {
    padding-left: 1.6rem;
  }
  >.field-box {
    flex: 1;
    display: flex;
    padding-left: 1.6rem;
    min-height: 3.2rem;
  }
  >.actions-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}


.fieldx {
  position: relative;
  display: flex;
  padding: 0 0 1rem 0;

  .field-box {
    flex: 1;
    padding: 2rem 0 0 0;

    .field-line {
      padding-top: .2rem;
      border-bottom: solid 1px $divider-color;
    }





    input.notEmpty ~ label {
      font-size: 1.2rem;
      top: .1rem;
    }

    input:focus ~ label {
      font-size: 1.2rem;
      top: .1rem;
    }

    input:focus ~ .field-line {
      border-bottom: solid 1px $accent-color;
    }
  }
}
