.formu {

  >h4 {
    flex: 1;
    border-bottom: solid 1px #ccc;
  }

  >.fieldset {
    flex: 1;
    display: flex;
    flex-direction: column;
    &.columns2 {
      @media (min-width: 800px) {
        display: block;
      }
    }
  }
}
