@import './app.scss';

.header {
  width: inherit;
  min-width: inherit;
  padding: .5rem;

  background-color: $primary-color-dark-trans;
  color: $primary-color-text;

  &.light {
    background-color: transparent;
    color: $primary-color;
    border-bottom: solid 2px $primary-color;
    margin-bottom: 2rem;
  }

  z-index: 10;

  font-size: 1.6rem;
  font-weight: 400;

  display: flex;
  align-content: center;
  justify-content: space-between;

  &.page-title {
    background-color: inherit;
    color: $primary-color-dark;
    border-bottom: solid 2px $primary-color-dark-trans;
  }

  &.float {
    position: absolute;
    width: inherit;
    min-width: inherit;
    background-color: $primary-color-dark-trans;
  }

  .title {
    flex: 1;
    line-height: 4.1rem;
    margin: 0 1rem;
    overflow: hidden;
  }

  nav {
    display: flex;
  }
}
