.infoline {
  display: flex;
  align-items: center;
  min-height: 3.5rem;

  >.info {
    min-width: 8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  >.content {
    position: relative;
    flex: 1;
    padding-left: 1rem;
    >.decorator {
      position: absolute;
      top: 0rem;
      right: .4rem;
    }
  }

  &.title {
  }

  &.caption {
    >.content {
      text-align: right;
    }
  }

  &.subtitle {
  }

  &.text {
  }
}
