.panable {
  position: relative;
  display: flex;

  >.leftActions {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 400;
  }

  >.rightActions {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 400;
  }

  &.pan-left {
    //border: solid 2px red;
    >.item {
      position: absolute;
      top: 0;
      left: -20px;
    }
  }
  >.item {
    width: 100%;
    z-index: 500;
  }
}


.list {
  margin: 0;
  padding: 0;
  flex: 1;
  min-width: 20vw;
  overflow-y: auto;

  &:before{
      content:attr(data-header);
      font-size: 1.3rem;
      font-weight:400;
      padding-left: 1rem;
      line-height: 3rem;
      position: sticky;
      top: 0px;
      width: 100%;
      display: block;
  }

  >.grouper {
      font-size: 1.3rem;
      font-weight:500;
      padding-left: 1rem;
      line-height: 3rem;
      position: sticky;
      top: 0px;
      width: 100%;
      display: flex;
      z-index: 997;
      margin: 1rem 0;
      align-items: center;
  }

  >.listitem {
    min-height: 4rem;
    padding: 4px 0px 4px 6px;
    cursor: pointer;
    display: flex;

    .icon {

    }

    .label {
      flex: 1;
      padding-left: 1.6rem;
      display: inline-block;
      line-height: 40px;
      vertical-align: top;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.grouplist {
  >.panel {
    >header {
      max-height: 4rem;
      >.title {
        left: 1.6rem !important;
        font-weight: 500;
        font-variant: small-caps;
        //text-transform: uppercase;
      }
    }
  }
}

.grouplist-card {
  overflow: hidden;
  max-height: 100rem;
  &.collapsed {
    max-height: 6.6rem;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.listitem0 {
  display: flex;
  min-height: 4rem;
  padding: 4px 0px 4px 6px;
  cursor: pointer;
  .primaryAction {
    cursor: pointer;
    flex:1;
    display: flex;
    .content {
      flex:1;
      display: flex;
      flex-direction: column;
      .caption {
      }
      .title {
        font-size: 1.4rem;
      }
      .subtitle {
      }
    }
  }
}


.lane {
  justify-content: flex-end;
  padding-bottom: 1rem;
  position: relative;
  overflow: hidden;

  >.image {
    position: absolute;
    top: 0;
    left: 0;
    height: 20rem;
    max-width: 20rem;
    opacity: .3;
  }

  >main {
    margin-left: 5rem;
    display: flex;
    flex-direction: row-reverse;
    overflow-x: auto;
  }

}

.lane-item {
  padding: 0 !important;
  cursor: pointer;
  header {
    max-height: 3.5rem;
    padding: .5rem;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
  }
  >main {
    max-height: 10rem;
    width: 16rem;
    padding: 1rem;
    border-top: solid 1px #DDD;
    border-bottom: solid 1px #DDD;
    overflow: hidden;
  }
  footer {
    max-height: 6rem;
    padding: .5rem;
  }
}
