@import './app.scss';

.list {
  margin: 0;
  padding: 0;
  flex: 1;
  min-width: 20vw;
  overflow-y: auto;

  >.listitem {
    min-height: 4rem;
    padding: 4px 0px 4px 6px;
    cursor: pointer;
    display: flex;

    .icon {

    }

    .label {
      flex: 1;
      padding-left: 1.6rem;
      display: inline-block;
      line-height: 40px;
      vertical-align: top;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &:hover {
      background-color: $primary-color-lighter-trans;
    }
  }
}

.grouplist {
  >.panel {
    >header {
      border-bottom: solid 1px $primary-color-light;
      color: $primary-color;
      max-height: 4rem;
      >.title {
        left: 1.6rem !important;
        font-weight: 500;
        font-variant: small-caps;
        //text-transform: uppercase;
      }
    }
  }
}

.listitem0 {
  display: flex;
  min-height: 4rem;
  padding: 4px 0px 4px 6px;
  .primaryAction {
    cursor: pointer;
    flex:1;
    display: flex;
    .content {
      flex:1;
      display: flex;
      flex-direction: column;
      .caption {
        min-height: 1.4rem;
        font-size: 1.2rem;
        font-style: italic;
        color: $secondary-text-color;
      }
      .title {
        font-size: 1.3rem;
        font-weight: 400;

      }
    }
    .info {
      color: $secondary-text-color;
    }
  }
  &:hover {
    background-color: $primary-color-lighter-trans;
  }
}

.inboxItem000 {
  display: flex;
  border-right: solid 1px $divider-color;
  border-left: solid 1px $divider-color;

  >.status {
    width: 7px;
  }

  &:active {
    background-color: #FFF;
    >.status {
      background-color: red;
    }
  }

  >.info {
    width: 100px;
    color: $secondary-text-color;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 1rem;
    padding-top: 1rem;
        margin-top: 1rem;
    >.caption {
      padding-right: 10px;
      font-size: 1.2rem;
    }
  }

  >.content {
    flex: 1;
    padding-right: 1rem;
    padding-top: 1rem;
    margin-top: 1rem;
    border-bottom: solid 1px $divider-color;
    >.caption {
      font-size: 1.2rem;
    }
    >.title {
      padding: 1rem 0;
      font-size: 1.7rem;
      font-weight: 400;
      line-height: 1.6;
    }
    >.subtitle {
      padding: 1rem 0;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.6;
    }
    >.description {
      color: $divider-color;
      padding-bottom: 1rem;
    }
  }

  .caption {
    color: $secondary-text-color;
    max-height: 2rem;
    overflow: hidden;
    line-height: 1.8;
  }
}
