@import './app.scss';

.menu {
  margin: 0px;
  padding: 8px 0;
  border-bottom: solid 1px $divider-color;

  &:before{
      content:attr(data-header);
      color: $secondary-text-color;
      font-size: 1.3rem;
      font-weight:400;
      margin-left: 1rem;
      line-height: 3rem;
  }

  >.menuitem {
    min-height: 4rem;
    padding: 4px 0px 4px 6px;
    cursor: pointer;
    display: flex;

    .icon {

    }

    .label {
      flex: 1;
      padding-left: 1.6rem;
      display: inline-block;
      line-height: 40px;
      vertical-align: top;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    >.info {
      display: flex;
      align-items: center;
      padding-right: 1.6rem;
      >.badge {
        border-radius: 1rem;
        color: $primary-color-text;
        background-color: $primary-color-dark;
        font-weight: bold;
      }
    }

    &:hover {
      background-color: $primary-color-light-trans;
    }
  }
}
