@import './app.scss';

.panel {

  min-width: 20rem;
  display: flex;
  flex-direction: column;

  >.content {
    flex: 1;
  }

  >header {
    max-height: 4rem;
    >.title {
      //left: 1.6rem !important;
      font-weight: 500;
      font-variant: small-caps;
      //text-transform: uppercase;
    }
  }

  &.infopanel {
    >header {
      >.title {
        //left: 1.6rem !important;
        font-size: 1.4rem;
        font-weight: 300;
        font-variant: normal;
        //text-transform: uppercase;
      }
    }

  }

  &.window {
    width: 60vw;
    min-width: 300px;
    min-height: 200px;
    >header {
      >.title {
        //left: 1.6rem !important;
        font-size: 1.4rem;
        font-weight: 300;
        font-variant: normal;
        //text-transform: uppercase;
      }
    }
    >.content {
      padding: 1rem 2rem;
    }
  }

}
