@import './app.scss';

.tabs {
  display: flex;
  overflow-x: auto;
}

.tab {
  text-transform: uppercase;
  min-width: 10vw;
  flex:1;
  text-align: center;
  line-height: 5rem;
  font-size: 1.4rem;
  vertical-align: middle;
  overflow: hidden;
  color: $divider-color;
  cursor: pointer;

  >.badge {
    margin: 1rem;
    padding: .3rem .6rem;
    border-radius: 1rem;
    color: $primary-color-text;
    background-color: $divider-color;
  }

  &.selected {
    color: $accent-color;
    border-bottom: solid 2px $accent-color;
    >.badge {
      color: $primary-color-text;
      background-color: $primary-color-dark;
      font-weight: bold;
    }
  }

}

.stack {
  flex: 1;
}
