.tabs {
  display: flex;
  overflow-x: auto;
}

.tab {
  text-transform: uppercase;
  min-width: 10vw;
  flex:1;
  text-align: center;
  line-height: 5rem;
  font-size: 1.4rem;
  vertical-align: middle;
  overflow: hidden;
  cursor: pointer;

  >.badge {
    margin: 1rem;
    padding: .3rem .6rem;
    border-radius: 1rem;
  }

  &.selected {
    >.badge {
      font-weight: bold;
    }
  }

}

.stack {
  flex: 1;
}
