@import url(https://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300,100italic,100);

$drawer-width: 250px;
$floating-drawer-width: 85vw;
$screen-content-width: 325px;
$break-small: 575px;

/* Palette Blue*/
$primary-color-dark:   #512DA8;
$primary-color:        #673AB7;
$primary-color-light:  #D1C4E9;
$primary-color-text:   #FFFFFF;
$accent-color:         #FF4081;;


/* Palette Green
$primary-color-dark:        #455A64;
$primary-color:             #20A867;
$primary-color-light:       #CFD8DC;
$primary-color-text:        rgba(255,255,255,.94);
$accent-color:              #455A64;
*/

/* generic trans */
$primary-color-dark-trans:  rgba( $primary-color-dark, .87);
$primary-color-trans:       rgba( $primary-color, .5);
$primary-color-light-trans: rgba( $primary-color-light, .5);
$primary-color-lighter-trans: rgba( $primary-color-light, .1);


//light theme
$background:           #FAFAFA;
$paper:                #FFF;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;
$divider-color-trans:  rgba($divider-color, .5);

// dark theme
/*
$background:           #303030;
$paper:                #424242;
$primary-text-color:   #FFF;
$secondary-text-color: #9A9A9A;
$divider-color:        #CCC;
*/

// additions
$danger-color:         #ff4400;
$danger-color-trans:        rgba(255,44, 0, .58);
$hint-text-color:      rgba(0,0,0,0.38);

// icons
$icon-menu:     rgba(0,0,0,.6);
$icon-active:   rgba(0,0,0,.54);
$icon-inactive: rgba(0,0,0,.38);
$icon-hover:    rgba(255,255,255,.12);

// shadows
$shadow1: 0   0   2px  rgba(0,0,0,.12),
          0   2px 4px  rgba(0,0,0,.24);

$shadow2: 0   0   2px  rgba(0,0,0,.12),
          0px 8px 10px rgba(0,0,0,0.44);
$overlay: rgba(0,0,50,.54);
