@import '../components/app.scss';

.login {
  .card {

    display: flex;
    flex-direction: column;

    @media screen and (max-width: $break-medium) {
      height: 100vh;
      margin: 0;

      @media (max-height: 600px ) {
        .header {
          min-height: 50px;
          max-height: 50px;
        }
      }
      @media (min-height: 600px ) {
        .header {
          height: 50vh;
        }
      }
    }
  }
}
