@import '../components/app.scss';

.login {
  justify-content: center;

  .card {
    width: 80vw;
    max-width: 1000px;
    align-self: center;
    display: flex;
    flex-direction: column;
    &:hover {
      box-shadow: $shadow1;
    }

    @media screen and (max-width: $break-medium) {
      height: 100vh;
      width: 100vw;
      min-width: 320px;
      margin: 0;

      .header {
        height: 50vh;
      }
      @media (max-height: 567px ) {
        .header {
          min-height: 50px;
          max-height: 50px;
        }
      }
    }
  }
}
