@import '../app.scss';

.drop_area {
  min-height: 10rem;
  display: flex;
  * {
    flex: 1;
  }
}

.box__dragndrop {
  display: none;
}

.box__uploading {
  display: none;
}

.box__success {
  display: none;
}

.box__error {
  display: none;
}

.dragger {
  width: 200px;
  height: 200px;
  border: 0;
  border-radius: 200px;
  background-color: rgba(250,100,100,0.5);
  position:absolute;;
  z-index: 9000;
}
