@import '../app.scss';

.login {
  background-color: $background;
  height: 100vh;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  //align-items: center;

  .card {
    box-shadow: $shadow1;
    margin: 1rem;
    background-color: $paper;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;

    .logo {
      flex: 1 1 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      >span {
        font-weight: 300;
        font-size: 2.4rem;
        color: $primary-color-dark-trans;
        margin: 0 2rem;
      }
    }
    @media screen and (max-width: $break-small) {
      width: 80vw;
      height: 100vh;
      max-height: 500px;
    }
    @media screen and (min-width: $break-small) {
      width: 400px;
      height: 500px;
    }
    .form {
      flex: 1 0 auto;
      width: 100%;
      >* {
        width: 100%;
      }
    }
  }
}
