.breadcrumb {
  line-height: 1.5rem;
  margin: 0px 0.5rem;
  padding-left: 0.4rem;
  padding-top: 0.5rem;
  display: flex;
  justify-content: flex-start;
  align-content: center;
  line-height: 1.1rem;
  color: rgb(32, 168, 103);
  font-weight: 400;
  font-size: 1.3rem;
  text-align: left;
}
