
.userHeader {

  display: flex;
  height: 14rem;
  padding: 2rem;

  @media (min-width: 1200px) {
    height: 26rem;
    padding: 3rem;
    //background: rgb(251,251,251);
    //background: -moz-linear-gradient(-45deg, rgba(251,251,251,1) 0%, rgba(159,152,177,1) 100%);
    //background: -webkit-linear-gradient(-45deg, rgba(251,251,251,1) 0%,rgba(159,152,177,1) 100%);
    //background: linear-gradient(-45deg, rgba(251,251,251,1) 0%,rgba(159,152,177,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=1 );
  }

  .avatar {
    border-radius: 10rem;
    overflow-x: hidden;
    width: 10rem;
    height: 10rem;
    margin-right: 1.2rem;

    @media (min-width: 1200px) {
      width: 20rem;
      height: 20rem;
      margin-right: 3rem;
    }
  }

  .info {
    .title {
        font-size: 1.4rem;
        font-weight: 400;
        padding: .2rem .4rem;
      @media (min-width: 1200px) {
        font-size: 2.4rem;
        font-weight: 300;
        padding: .4rem .8rem;
      }
    }
    .subtitle {
        font-size: 1.1rem;
        font-weight: 300;
        //color: rgba($primary-color-text, .8);
        padding: .2rem .4rem;
      @media (min-width: 1200px) {
        font-size: 1.6rem;
        font-weight: 300;
        padding: .4rem .8rem;
      }
    }
  }
}

.usertag {
  padding: .2rem 0;
  display: flex;
  cursor: pointer;

  >.avatar {
    margin: .8rem;
    width: 2.2rem;
    height: 2.2rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 200;
    //background-color: $accent-color-light;
    color: white;
    overflow: hidden;
  }

  >.content {
    flex: 1;
    display: flex;
    flex-direction: column;

    >.line1 {
      margin-top: .8rem;
      font-size: 1.1rem;
      font-weight: 400;
      //color: $primary-text-color;
      line-height: 1.3rem;
    }
    >.line2 {
      margin-top: .1rem;
      font-size: 1rem;
      font-weight: 300;
      //color: rgba($primary-text-color, .7);
      line-height: 1.1rem;
    }
  }
}


.userlistitem {
  padding: .8rem 0;
  display: flex;
  cursor: pointer;

  >.avatar {
    margin: .8rem 1.6rem;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.7rem;
    font-weight: 200;
    background-color: transparent;
    color: white;
    overflow: hidden;
    img {
      width: 4.2rem;
      height: 4.2rem;
    }
  }
  >.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

    >.line1 {
      font-size: 1.5rem;
      font-weight: 400;
      //color: $primary-text-color;
      line-height: 1.9rem;
    }
    >.line2 {
      font-size: 1.2rem;
      font-weight: 300;
      //color: $secondary-text-color;
    }
    >.line3 {
      font-size: 1.2rem;
      font-weight: 400;
      //color: $secondary-text-color;
    }
  }
  >.actions {
    padding: .8rem;
  }
}



.user {

  * {
    //border: dashed 1px red;
  }

  display: flex;
  //border-bottom: solid 1px $divider-color;


  >.avatar {
    width: 9rem;
    height: 9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .picture {
      width: 7rem;
      height: 7rem;
      //border: solid 1px $divider-color;
      border-radius: 50px;
      //background-color: #FFF;
    }
  }

  >.info{
    padding: 1rem;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 1.5;
  //  color: $primary-text-color;
    >.title {
      font-weight: 500;
    }
    >.subtitle {
      font-weight: 300;
    }
  }

  >.actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    //color: $primary-text-color;
  }
}
