html {
  font-size:62.5%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $background;
  //background-image: url('/background6.svg');
  background-size:cover;
  color: $primary-text-color;
  font-size: 1.3rem;
  font-family: 'Roboto', sans-serif;
  text-rendering: auto;
  overflow-y: hidden;
}

.drawer {
  color: $primary-text-color;
  background-color: $drawer-bgcolor;
}
